:root {
  --m-button-size: var(--m-size-default);
  --m-button-height: calc(var(--m-button-size) * 3.2);
  --m-button-width: calc(var(--m-button-size) * 3.2);
  --m-button-color: white;
  --m-button-bg-color: var(--m-color-songlan);
  --m-button-bg-hover-color: var(--m-color-qingluan);
}

.m-button {
  outline: unset;
  height: var(--m-button-height, 32px);
  min-width: var(--m-button-width, 32px);
  border: 5px double transparent;
  border-radius: 2px;
  text-align: center;
  color: var(--m-button-color);
  cursor: var(--m-cursor-pointer);


  background-color: var(--m-button-bg-color);
  &:hover {
    background-color: var(--m-button-bg-hover-color);
  }

  &:disabled, &:disabled:hover {
    color: var(--m-color-text-disabled);
    cursor: var(--m-cursor-disabled);
    --m-button-bg-color: var(--m-color-jin-yin);
    --m-button-bg-hover-color: var(--m-color-jin-yin);

    & > slot {
      pointer-events: none;
    }
  }


  /*&.m-button-default {*/
  /*  background-color: var(--m-color-songlan);*/
  /*  &:hover{*/
  /*    background-color: var(--m-color-qingluan);*/
  /*  }*/
  /*}*/

  &.m-button-error {
    --m-button-bg-color: var(--m-color-error);
    --m-button-bg-hover-color: var(--m-color-daran);
  }

  &.m-button-confirm {
    --m-button-bg-color: var(--m-color-success);
    --m-button-bg-hover-color: var(--m-color-zhengqing);
  }

  &.m-button-primary {
    --m-button-bg-color: var(--m-color-blue);
    --m-button-bg-hover-color: #4994C4;
  }

  &.m-button-warning {
    --m-button-bg-color: var(--m-color-jin-yang);
    --m-button-bg-hover-color: var(--m-color-zhizi);
  }

  &.m-button-disabled {
    --m-button-bg-color: var(--m-color-jin-yin);
    --m-button-bg-hover-color: var(--m-color-jin-yin);
  }

}

a.m-button {
  text-decoration: unset;
  padding: 1px 6px;
  height: var(--m-button-height, 32px);
}

