:root {
  --m-rp-light: var(--m-rp-cold);
  --m-rp-dark: var(--m-rp-warm);
  --m-rp-light-opacity: 0.8;
  --m-rp-dark-opacity: 0.5;
  --m-rp-mountains-opacity: 1;
  --m-rp-w: 100%;
  --m-rp-h: 100%;
  --m-rp-bg: rgba(10, 87, 64, 0.2);
  --m-rp-hover-bg-i: var(--m-rp-light);
  --m-rp-hover-opacity: var(--m-rp-dark-opacity);
}


.m-rice-paper {
  position: relative;
  overflow: hidden;
  background-color: var(--m-rp-bg);
  transition: background-color 0.3s ease-in-out;
  height: var(--m-rp-h);
  width: var(--m-rp-w);
  cursor: var(--m-cursor-auto);
}
