@import "@shuimo-design/ui-core/components/base/button/button.css";


.m-button {

  &.m-button-default {
    background-color: var(--m-color-divider);
  }

  &.m-button-error {
    background-color: var(--m-color-error);
  }

  &.m-button-confirm {
    background-color: var(--m-color-success);
  }

  &.m-button-primary {
    background-color: var(--m-color-blue);
  }

  &.m-button-warning {
    background-color: var(--m-color-warn);
  }

  &.m-button-disabled {
    background-color: var(--m-color-disabled);
  }


}
