:root{
  --m-input-w: 244px;
  --m-input-h: 31px;
  --m-color-disabled: #a9a9a9;
}

.m-input{
  box-sizing: content-box;
  width: var(--m-input-w);
  height: var(--m-input-h);
  line-height: var(--m-input-h);

  &.m-input-disabled {

    .m-input-inner, .m-textarea-inner {
      background-color: var(--m-color-disabled) !important;
    }

  }
}
