@import "../../dependence/shikiji/shuimo.theme.css";

/**
 * @description janghood-prismjs-css
 * @author higuaifan
 * @date 2022/4/14
 * @version 1.0.0
 */

:root {
  --pre-bg-color: rgba(190, 191, 209, 0.3);
}
html[dark] {
  --pre-bg-color: rgba(67, 70, 81, 0.3);
}

code[class*=shiki],
pre[class*=shiki-] {
  color: var(--m-color-text);
  background: none;
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  font-size: 1em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* Code blocks */
pre[class*=shiki-] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
  border-radius: 2px;
}

:not(pre) > code[class*=shiki-],
pre[class*=shiki-] {
  backdrop-filter: blur(3px);
  background-color: var(--pre-bg-color) !important;
}

/* Inline code */
:not(pre) > code[class*=shiki-] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}
