html{
  height: 100%;
  width: 100%;
}

body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}


.m-rice-paper-inside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(100vw - 20px);
  height: calc(100vh - 50px);
  overflow: auto;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: auto;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.checkbox {
  display: inline-block;

  .m-checkbox{
    margin: 0 10px;
  }
}
