body {
  padding: 0;
  margin: 0;
}

.playground {
  display: flex;
}

#container {
  height: 100vh;
  width: 50vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 1fr;
}

.editor {
  height: calc((100vh - 50px) / 3 - 5px);
  width: 100%;
}

#vue {
  height: 100%;
  width: 100%;
}

.viewer {
  width: 50vw;
  border: 0;
}

.radios {
  display: flex;
  justify-content: center;
  align-items: center;
}
