@import '/node_modules/prismjs/themes/prism-tomorrow.css';
@import "/node_modules/prismjs/plugins/toolbar/prism-toolbar.css";

@font-face {
  font-family: wljh;
  src: url(/src/assets/fonts/wljh.ttf);
}

body, html {
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: #333;
  cursor: url("./assets/mouse/point.png"), auto;
  overflow: hidden;
}

body {
  background: url(/src/assets/base/bg.png) #cfdcdf no-repeat bottom;
  background-size: 100% auto;
}

.w-cursor, .w-cursor-pointer {
  cursor: url("./assets/mouse/cursor.png"), auto;
}

*:disabled, .w-cursor-disabled {
  cursor: url("./assets/mouse/disabled.png"), auto;
}

.w-menu {
  font-family: wljh, serif;
  letter-spacing: 2px;
}

.height-600 {
  height: 600px;
}

.adventure-tip {
  text-align: center;
}

.upload-demo {
  img {
    width: 117px;
    height: 117px;
  }
}

.w-process {
  width: 449px;
  height: 19px;
}

.main-border {
  width: 100%;
  height: 100%;

  & > .w-border-main {
    padding: 20px;
  }
}
